@font-face {
  font-family: metropolis;
  src: url("../Fonts/Metropolis/Metropolis-Regular.otf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: metropolis;
  width: 100%;
  min-height: 100%;
  background-color: rgb(218, 213, 213);
  /*
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  */
}

/* ****************************************************************
[content] */
main {
  float: right;
  width: 100%;
  height: 94%;
  box-shadow: 0 1.2em 0em rgb(247, 241, 241);
  background: #f2f5f5;
}
.card-group .card {
  background-color: #ffffff!important;
  box-shadow: 0 0.3em 1em gray;
  width: 30%;
  height: 17%;
  margin-top: 2%;
  margin-left: 1%;
}
.card.a {
  float: left;
  background: linear-gradient(45deg, #ffb796,#ff7f96);
}
.card.b {
  margin-right: 35%;
  margin-top: 2%;
  float: right;
  background: linear-gradient(45deg, #86c5f7,#228ee5);
}
.card.c{
  clear: both;
  margin-left: 69%;
  display: inline-block;
  margin-top: -7.8%;
  background: linear-gradient(45deg, #7ed8cf,#24cfb6);
}
.card:hover{
 cursor: pointer;
 box-shadow: 2em 0.3em 1em gray;
 transition: 0.3s;
}
.Mheader{
  width: 95.7%;
  font-size: 15pt;
  margin-left: 1em;
  margin-top: 1em;
  height: 10vh;
  background-color: transparent !important;

}
.Mheader.content{
  margin-top: 2em;
  color: black;

}
.Mheader.content img {
  margin-right: 1%;
  margin-top: 1%;
  background-color: turquoise;
}
.Mheader.content h1 {
  font-size: 30pt;
}
.card-content{
  width: 100%;
  height: 100%;
  text-align: center;
}
.card-content h2{
  font-size: 43pt;
}
.card-content span{
  font-size: 16pt;
  text-transform: capitalize;
  font-size: medium;
  font-size: 21pt;
}
.card-content p {
  font-style: italic;
}
.ListAL, .OCchart{
  background-color: white;
  height: 53.5%;
  width: 47.6%;
  margin-top: 2%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.ListAL{
  float: left;
  margin-left: 1%;
}
.OCchart{
  float: right;
  margin-right: 1%;
  margin-top: -2.8%;
  height: 64%;
}
.OCchart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
[seachbar]*/
.searchbar {
  width: 53%;
  margin-top: 3%;
  margin-left: 1%;
  border-radius: 3%;
  height: 6%;
  border-radius: 4em 4rem 4em 4em;
} 
.searchbar input{
  height: 100%;
  color: black;
  width: 90%;
  font-size: 17pt;
  color: white;
  text-align: center;
  background: linear-gradient(45deg,#ffb796,#24cfb6);
  border-radius: 4em 4rem 4em 4em;

}
.searchbar input:hover{
  box-shadow: 0 1em 1em gray;
  transition: linear 0.3s;
}
.searchbar input::placeholder{
  color: white;
  font-size: 14pt;
  text-align: center;
}
.searchbar svg{
  border-radius: 2em 2em 2em ;
  margin-left: 83.93%;
  margin-top: -3em;
  width: 5%;
  height: 84%;
  background-color: transparent;
}
.searchbar svg:hover{
  background-color: rgb(31, 165, 218);
  transition: 0.3s;
}
::-webkit-scrollbar{
  color: #228ee5;
  width: 1px;
}
.container th h1 {
  font-weight: bold;
  font-size: 1.3em;
  text-align: left;
  color: #2c95c5;
}

.container td {
  font-weight: normal;
  font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.container td, .container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left:2%;  
}

.container tr:nth-child(odd) {
  background-color: #323C50;
}

.container tr:nth-child(even) {
  background-color: #2C3446;
}

.container th {
  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
 background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;

box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
transform: translate3d(6px, -6px, 0);

transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
transition-timing-function: line;
}