*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
body {
  width: 100%;
  min-height: 100%;
}
body {
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
}
table {
  margin-top: 10%;
  margin-left: 5%;
  height: 40vh;
  width: 90vw;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

th,
td {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  font-size: 17pt;
  text-align: left;
}

thead th {
  background-color: #55608f;
}

tbody tr:hover {
  font-size: 14pt;
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.3);
}
/* SearchBar */
.Searchbar {
  position: absolute;
  margin-top: -5%;
  margin-left: 15%;
  transform: translate(-50%, -50%);
  background-color: #55608f;
  height: 40px;
  width: 20vw;
  border-radius: 40px;
  padding: 10px;
}

.Searchbar:hover {
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  width: 90vw;
  margin-left: 50%;
  transition: 0.3s;
}
::-webkit-input-placeholder {
  color: whitesmoke;
  font-size: 14pt;
}
.search-txt:hover::placeholder {
  color: whitesmoke;
  font-size: 17pt;
}
.Searchbar:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
  color: whitesmoke;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 12pt;
  transition: 0.4s;
  line-height: 40px;
  width: 80%;
}
/* ////////////////////////////////////////////////////// */
