@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";
/* line 7, App/Public/Resources/scss/consultar.scss */
* {
  margin: 0;
  padding: 0; }

/* line 11, App/Public/Resources/scss/consultar.scss */
::-webkit-scrollbar-track {
  background-color: #f4f4f4; }

/* line 14, App/Public/Resources/scss/consultar.scss */
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4; }

/* line 18, App/Public/Resources/scss/consultar.scss */
::-webkit-scrollbar-thumb {
  background: #dad7d7; }

/* line 21, App/Public/Resources/scss/consultar.scss */
body {
  width: 100%;
  min-height: 100%;
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

/* line 61, App/Public/Resources/scss/consultar.scss */
.Pageclosing {
  -webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important; }

@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0; } }

@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1; }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0; } }

/* line 91, App/Public/Resources/scss/consultar.scss */
.loading {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0; }

/* line 98, App/Public/Resources/scss/consultar.scss */
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px; }

/* line 109, App/Public/Resources/scss/consultar.scss */
.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

/* line 117, App/Public/Resources/scss/consultar.scss */
.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA; }

/* line 124, App/Public/Resources/scss/consultar.scss */
.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA; }

/* line 131, App/Public/Resources/scss/consultar.scss */
.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA; }

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

/* */
/* line 165, App/Public/Resources/scss/consultar.scss */
body {
  background-image: url("../Images/background.png");
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 172, App/Public/Resources/scss/consultar.scss */
table {
  margin-top: 10%;
  margin-left: 5%;
  height: 40vh;
  width: 90vw;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); }
  /* line 180, App/Public/Resources/scss/consultar.scss */
  table a {
    color: white; }
  /* line 183, App/Public/Resources/scss/consultar.scss */
  table th,
  table td {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; }
  /* line 190, App/Public/Resources/scss/consultar.scss */
  table th {
    font-size: 17pt;
    text-align: left; }
  /* line 195, App/Public/Resources/scss/consultar.scss */
  table thead th {
    background-color: #55608f; }
  /* line 199, App/Public/Resources/scss/consultar.scss */
  table tbody tr:hover {
    font-size: 14pt;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.3); }

/* SearchBar */
/* line 207, App/Public/Resources/scss/consultar.scss */
.Searchbar {
  position: fixed;
  margin-top: -5%;
  margin-left: 80%;
  transform: translate(-50%, -50%);
  background-color: #55608f;
  height: 40px;
  width: 20vw;
  border-radius: 40px;
  padding: 10px; }

/* line 219, App/Public/Resources/scss/consultar.scss */
.Searchbar:hover {
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  transition: 0.3s; }

/* line 223, App/Public/Resources/scss/consultar.scss */
::-webkit-input-placeholder {
  color: whitesmoke;
  font-size: 14pt; }

/* line 227, App/Public/Resources/scss/consultar.scss */
.search-txt:hover::placeholder {
  color: whitesmoke;
  font-size: 17pt; }

/* line 231, App/Public/Resources/scss/consultar.scss */
.Searchbar:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
  color: whitesmoke; }

/* line 237, App/Public/Resources/scss/consultar.scss */
.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 12pt;
  transition: 0.4s;
  line-height: 40px;
  width: 80%; }

/* ////////////////////////////////////////////////////// */
/* line 249, App/Public/Resources/scss/consultar.scss */
.confirm {
  position: absolute;
  width: 30%;
  height: 40%;
  background-color: white;
  margin-left: 35%;
  display: none;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-animation: slide-in-blurred-top 0.9s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.9s cubic-bezier(0.23, 1, 0.32, 1) both; }
  /* line 262, App/Public/Resources/scss/consultar.scss */
  .confirm #message {
    font-size: 20pt;
    grid-row-start: 3; }
  /* line 266, App/Public/Resources/scss/consultar.scss */
  .confirm #closeicns {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    /* line 271, App/Public/Resources/scss/consultar.scss */
    .confirm #closeicns img:hover {
      background-color: red; }
  /* line 276, App/Public/Resources/scss/consultar.scss */
  .confirm .flexconfirm {
    grid-row-start: 5;
    grid-row-end: 6; }
    /* line 279, App/Public/Resources/scss/consultar.scss */
    .confirm .flexconfirm button {
      border: none;
      width: 29%;
      height: 46%;
      color: white;
      background-color: green;
      border-radius: 0.2em; }
      /* line 286, App/Public/Resources/scss/consultar.scss */
      .confirm .flexconfirm button:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        box-shadow: 0px 1px 0px 0px; }
    /* line 292, App/Public/Resources/scss/consultar.scss */
    .confirm .flexconfirm #del {
      background-color: #e74c3c;
      box-shadow: 0px 5px 0px 0px #ce3323; }
      /* line 295, App/Public/Resources/scss/consultar.scss */
      .confirm .flexconfirm #del:hover {
        background-color: #ff6656; }
    /* line 299, App/Public/Resources/scss/consultar.scss */
    .confirm .flexconfirm #edit {
      background-color: #2ecc71;
      box-shadow: 0px 5px 0px 0px #15b358; }
      /* line 302, App/Public/Resources/scss/consultar.scss */
      .confirm .flexconfirm #edit:hover {
        background-color: #48e68b; }
    /* line 306, App/Public/Resources/scss/consultar.scss */
    .confirm .flexconfirm #RegOco {
      background-color: #eeeb30;
      box-shadow: 0px 5px 0px 0px #dfd54e; }
      /* line 309, App/Public/Resources/scss/consultar.scss */
      .confirm .flexconfirm #RegOco:hover {
        background-color: #d0d67b; }

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

/* edit actions divs */
/* line 357, App/Public/Resources/scss/consultar.scss */
#form,
#Focorrencia {
  display: none;
  position: absolute;
  margin-top: -10%;
  background-color: rgba(88, 84, 84, 0.4);
  width: 100%;
  height: 100%; }

@keyframes slidein {
  from {
    opacity: 0;
    transform: scale(2, 2) translateX(-150%) rotate(90deg); }
  to {
    opacity: 0.8;
    transform: scale(0);
    transform: translateX(0) rotate(0); } }
  /* line 377, App/Public/Resources/scss/consultar.scss */
  #form .title_aut,
  #Focorrencia .title_aut {
    font-size: 6vh;
    color: black;
    margin-left: 20%;
    font-family: "haboro"; }
  /* line 384, App/Public/Resources/scss/consultar.scss */
  #form .titulo,
  #Focorrencia .titulo {
    font-size: 6vh;
    color: black;
    margin-left: 38%;
    font-family: "haboro"; }
  /* line 391, App/Public/Resources/scss/consultar.scss */
  #form .title_register,
  #Focorrencia .title_register {
    font-size: 5vh;
    color: black;
    margin-left: 10%;
    font-family: "haboro"; }
  /* line 398, App/Public/Resources/scss/consultar.scss */
  #form .painel,
  #Focorrencia .painel {
    margin-left: 35%;
    margin-top: 0.9em;
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5%;
    animation: slidein 1000ms;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.62); }
  /* line 408, App/Public/Resources/scss/consultar.scss */
  #form textarea,
  #Focorrencia textarea {
    resize: none;
    width: 80%;
    margin-left: 8.5%;
    margin-top: 1%;
    margin-bottom: 4%;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86888d;
    border-bottom-width: 0.15vh;
    color: black;
    font-family: Candara;
    font-size: 2.7vh;
    height: 7%; }
  /* line 425, App/Public/Resources/scss/consultar.scss */
  #form .fixado,
  #Focorrencia .fixado {
    width: 100%;
    position: fixed;
    top: 0; }
  /* line 430, App/Public/Resources/scss/consultar.scss */
  #form .CloseForm,
  #Focorrencia .CloseForm {
    margin-left: 28%;
    transition: 0.1s;
    position: absolute; }
  /* line 435, App/Public/Resources/scss/consultar.scss */
  #form .subtitulo,
  #Focorrencia .subtitulo {
    font-size: 3vh;
    color: black;
    margin-left: 8.5%;
    margin-top: 4%;
    margin-bottom: 2%; }
  /* line 442, App/Public/Resources/scss/consultar.scss */
  #form .Form-invalid,
  #Focorrencia .Form-invalid {
    animation: invalidform 300ms linear;
    animation-iteration-count: 2;
    transition: 0.3s; }

@keyframes invalidform {
  0%,
  100% {
    transform: translateX(0);
    overflow-x: auto; }
  40% {
    transform: translateX(-1%);
    overflow-x: hidden; }
  80% {
    transform: translateX(1%); } }
  /* line 461, App/Public/Resources/scss/consultar.scss */
  #form label[for="titulo"],
  #Focorrencia label[for="titulo"] {
    font-size: 5vh;
    color: black;
    margin-left: 2%; }
  /* line 467, App/Public/Resources/scss/consultar.scss */
  #form label[for="subtitulo"],
  #Focorrencia label[for="subtitulo"] {
    font-size: 3vh;
    color: black;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 2%; }
  /* line 475, App/Public/Resources/scss/consultar.scss */
  #form .caixa,
  #Focorrencia .caixa {
    width: 80%;
    margin-left: 8.5%;
    margin-top: 1%;
    margin-bottom: 4%;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86888d;
    border-bottom-width: 0.15vh;
    color: black;
    font-family: Candara;
    font-size: 2.7vh;
    height: 4%; }
  /* line 492, App/Public/Resources/scss/consultar.scss */
  #form .caixa::placeholder,
  #Focorrencia .caixa::placeholder {
    color: #86888d; }
  /* line 496, App/Public/Resources/scss/consultar.scss */
  #form .opcsele,
  #Focorrencia .opcsele {
    color: #000; }
  /* line 500, App/Public/Resources/scss/consultar.scss */
  #form .botao,
  #Focorrencia .botao {
    margin-top: 20%;
    margin-left: 15%;
    background: linear-gradient(to right, #ef0afd, #08d2df);
    opacity: 0.8;
    height: 8vh;
    width: 70%;
    border: 0.3vh solid whitesmoke;
    font-size: 3vh;
    border-radius: 10vh;
    color: whitesmoke; }
  /* line 513, App/Public/Resources/scss/consultar.scss */
  #form .button,
  #Focorrencia .button {
    margin-top: 1%;
    margin-left: 15%;
    background: linear-gradient(to right, #ef0afd, #08d2df);
    opacity: 0.8;
    height: 8vh;
    width: 70%;
    border: 0.3vh solid whitesmoke;
    font-size: 3vh;
    border-radius: 10vh;
    color: whitesmoke; }
  /* line 525, App/Public/Resources/scss/consultar.scss */
  #form .button:hover,
  #Focorrencia .button:hover {
    background: linear-gradient(to right, #08d2df, #ef0afd);
    opacity: 1;
    transition: 0.5s; }
  /* line 531, App/Public/Resources/scss/consultar.scss */
  #form .botao:hover,
  #Focorrencia .botao:hover {
    background-color: #e84118; }

/* line 536, App/Public/Resources/scss/consultar.scss */
#Focorrencia .painel {
  height: 50%; }

/* line 539, App/Public/Resources/scss/consultar.scss */
#Focorrencia .caixa {
  height: 7%;
  margin-top: 2%; }

/* line 543, App/Public/Resources/scss/consultar.scss */
#Focorrencia textarea {
  height: 26%; }

/* line 546, App/Public/Resources/scss/consultar.scss */
#Focorrencia .title_register {
  margin-top: 2%; }
