*{
    padding: 0;
    margin: 0;
    font-family: Candara;
    
}
@font-face{
    font-family: 'haboro';
    src: url("../Fonts/HaboroSoft-ExtReg.ttf");
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body{
    background: linear-gradient(#191654,#87cbe5);}

.titulo{
    font-size: 7vh;
    color: black;
    margin-left: 32%;
    font-family: 'haboro';
}

.painel{
    margin-left: 40%;
    margin-top: 1.8em;
    width: 25%;
    height: 78vh;
    background-color: #ffffff;
    border-radius: 5%;
}

.fixado{
    width: 100%;
    position: fixed;
    top: 0;
}

.subtitulo{
    font-size: 3vh;
    color: black;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 2%;
}

label[for=titulo]{
    font-size: 5vh;
    color: black;
    margin-left: 2%;
}

label[for=subtitulo]{
    font-size: 3vh;
    color: black;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.caixa{
    width: 95%;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 4%;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86888d;
    border-bottom-width: 0.15vh;
    color:black;
    font-family: Candara;
    font-size: 3vh;
}

.caixa::placeholder{
    color: #86888d;
}

.opcsele{
    color: #000;
}

.botao{
    margin-top: 30%;
    margin-left: 15%;
    background: linear-gradient(to right,#ef0afd,#08d2df);
    opacity: 0.8;
    height: 8vh;
    width: 70%;
    border: 0.3vh solid whitesmoke;
    font-size: 3vh;
    border-radius: 10vh;
    color: whitesmoke;
}

.botao:hover{
    background-color: #e84118;
}

/*INICIO DO MENU*/

.selecionado{
    float: right;
    padding: 13px;
    margin-top: 19px;
    margin-right: 26px;
    color: #000;
    border-radius: 7px;
}

.menu ul{
    padding:0px;
    margin:0px;
    list-style:none;
    width: 100%;
    height: 13.5vh;
    background-color: whitesmoke;
    font-size: 4vh;
}

.opcoes a:not(.selecionado) {
    float: right;
    padding: 13px;
    color: #414141;
    margin-top: 10px;
    margin-right: 26px;
}

a:link{
    text-decoration: none;
}

.opcoes a:hover {
    margin-top: 1%;
    background-color: orangered;
    color : whitesmoke;
    border-radius: 4%;
    height: 100%;
}

.logo a{
    margin-top: 0.5%;
    margin-left: 4%;
    float: left;
    font-size: 9vh;
    padding: 0;
    color:#030303;
    font-family: 'haboro';
    text-shadow: 5px 5px 5px red;
}

/*FIM DO MENU*/
