/* line 2, App/Public/Resources/scss/pages.scss */
.container {
  background-color: 0;
  font-family: "candara"; }

/* line 6, App/Public/Resources/scss/pages.scss */
body {
  font-family: "candara"; }

/* line 9, App/Public/Resources/scss/pages.scss */
.kernel {
  color: "candara"; }
