*{
    padding: 0;
    margin: 0;
    font-family: Candara;
    
}
@font-face{
    font-family: 'haboro';
    src: url("../Fonts/EM-Haboro.Soft/");
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(to right,#3a6186, #89253e);
    background: -webkit-linear-gradient(to left, #3a6186, #89253e);  
}
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    list-style: none;
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.container{
    position: relative;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


@keyframes slidein{
    from{
      opacity: 0;
      transform: scale(2,2) translateX(-150%) rotate(90deg);
    }
    to{
      opacity: 0.8;
      transform: scale(0);
      transform: translateX(0) rotate(0);
    }
  }
.title_aut{
    font-size: 6vh;
    color: black;
    margin-left: 20%;
    font-family: 'haboro';
}

.titulo{
    font-size: 6vh;
    color: black;
    margin-left: 38%;
    font-family: 'haboro';
}

.title_register{
    font-size: 5vh;
    color: black;
    margin-left: 10%;
    font-family: 'haboro'; 
}

.painel{
    margin-left: 35%;
    margin-top: 0.9em;
    width: 30%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5%;
    animation: slidein 1000ms;
}
textarea{
    resize: none;
    width: 80%;
    margin-left: 8.5%;
    margin-top: 1%;
    margin-bottom: 4%;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86888d;
    border-bottom-width: 0.15vh;
    color:black;
    font-family: Candara;
    font-size: 2.7vh;
    height: 7%;
}
.fixado{
    width: 100%;
    position: fixed;
    top: 0;
}

.subtitulo{
    font-size: 3vh;
    color: black;
    margin-left: 8.5%;
    margin-top: 4%;
    margin-bottom: 2%;
}
.Form-invalid {
    animation: invalidform 300ms linear;
    animation-iteration-count: 2;
    transition: 0.3s;
}
@keyframes invalidform {
    0%,100%{
        transform: translateX(0);
        overflow-x: auto;
    }
    40%{
        transform: translateX(-1%);
        overflow-x: hidden;    
     }
    80%{
        transform: translateX(1%);
    }
}
label[for=titulo]{
    font-size: 5vh;
    color: black;
    margin-left: 2%;
}

label[for=subtitulo]{
    font-size: 3vh;
    color: black;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.caixa{
    width: 80%;
    margin-left: 8.5%;
    margin-top: 1%;
    margin-bottom: 4%;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86888d;
    border-bottom-width: 0.15vh;
    color:black;
    font-family: Candara;
    font-size: 2.7vh;
    height: 4%;
}

.caixa::placeholder{
    color: #86888d;
}

.opcsele{
    color: #000;
}

.botao{
    margin-top: 20%;
    margin-left: 15%;
    background: linear-gradient(to right,#ef0afd,#08d2df);
    opacity: 0.8;
    height: 8vh;
    width: 70%;
    border: 0.3vh solid whitesmoke;
    font-size: 3vh;
    border-radius: 10vh;
    color: whitesmoke;
}

.button{
    margin-top: 1%;
    margin-left: 15%;
    background: linear-gradient(to right,#ef0afd,#08d2df);
    opacity: 0.8;
    height: 8vh;
    width: 70%;
    border: 0.3vh solid whitesmoke;
    font-size: 3vh;
    border-radius: 10vh;
    color: whitesmoke;
}
.button:hover{
    background: linear-gradient(to right,#08d2df,#ef0afd);
    opacity: 1;
    transition: 0.5s;
}


.botao:hover{
    background-color: #e84118;
}