$alert-h: 40%;
$alert-w: 30%;
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";

$font: "Source Sans Pro", sans-serif;

* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}
body {
  width: 100%;
  min-height: 100%;

  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.Pageclosing {
  -webkit-animation: slide-out-bck-center 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both !important;
}
@-webkit-keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
  }
}
.loading{
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
  
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
/* */ 
body {
  background: linear-gradient(to right,#89253e, #3a6186);
  background: -webkit-linear-gradient(to right,#89253e, #3a6186);  
}
table {
  margin-top: 10%;
  margin-left: 5%;
  height: 40vh;
  width: 90vw;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
  a {
    color: white;
  }
  th,
  td {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
  }

  th {
    font-size: 17pt;
    text-align: left;
  }

  thead th {
    background-color: #55608f;
  }

  tbody tr:hover {
    font-size: 14pt;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

/* SearchBar */
.Searchbar {
  position: fixed;
  margin-top: -5%;
  margin-left: 80%;
  transform: translate(-50%, -50%);
  background-color: #55608f;
  height: 40px;
  width: 20vw;
  border-radius: 40px;
  padding: 10px;
}

.Searchbar:hover {
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  transition: 0.3s;
}
::-webkit-input-placeholder {
  color: whitesmoke;
  font-size: 14pt;
}
.search-txt:hover::placeholder {
  color: whitesmoke;
  font-size: 17pt;
}
.Searchbar:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
  color: whitesmoke;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  font-size: 12pt;
  transition: 0.4s;
  line-height: 40px;
  width: 80%;
}
/* ////////////////////////////////////////////////////// */
.confirm {
  position: absolute;
  width: $alert-w;
  height: $alert-h;
  background-color: white;
  margin-left: 35%;
  display: none;
  justify-content: center;
  font-family: $font;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-animation: slide-in-blurred-top 0.9s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-top 0.9s cubic-bezier(0.23, 1, 0.32, 1) both;
  #message {
    font-size: 20pt;
    grid-row-start: 3;
  }
  #closeicns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    img {
      &:hover {
        background-color: red;
      }
    }
  }
  .flexconfirm {
    grid-row-start: 5;
    grid-row-end: 6;
    button {
      border: none;
      width: 29%;
      height: 46%;
      color: white;
      background-color: green;
      border-radius: 0.2em;
      &:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        box-shadow: 0px 1px 0px 0px;
      }
    }
    #del {
      background-color: #e74c3c;
      box-shadow: 0px 5px 0px 0px #ce3323;
      &:hover {
        background-color: #ff6656;
      }
    }
    #edit {
      background-color: #2ecc71;
      box-shadow: 0px 5px 0px 0px #15b358;
      &:hover {
        background-color: #48e68b;
      }
    }
    #RegOco {
      background-color: #eeeb30;
      box-shadow: 0px 5px 0px 0px #dfd54e;
      &:hover {
        background-color: #d0d67b;
      }
    }
  }
}
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* edit actions divs */
#form,
#Focorrencia {
  $panelw: 30%;
  display: none;
  position: absolute;
  margin-top: -10%;
  background-color: rgba($color: #585454, $alpha: 0.4);
  width: 100%;
  height: 100%;
  @keyframes slidein {
    from {
      opacity: 0;
      transform: scale(2, 2) translateX(-150%) rotate(90deg);
    }
    to {
      opacity: 0.8;
      transform: scale(0);
      transform: translateX(0) rotate(0);
    }
  }
  .title_aut {
    font-size: 6vh;
    color: black;
    margin-left: 20%;
    font-family: "haboro";
  }

  .titulo {
    font-size: 6vh;
    color: black;
    margin-left: 38%;
    font-family: "haboro";
  }

  .title_register {
    font-size: 5vh;
    color: black;
    margin-left: 10%;
    font-family: "haboro";
  }

  .painel {
    margin-left: 35%;
    margin-top: 0.9em;
    width: $panelw;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5%;
    animation: slidein 1000ms;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.62);
  }
  textarea {
    resize: none;
    width: 80%;
    margin-left: 8.5%;
    margin-top: 1%;
    margin-bottom: 4%;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86888d;
    border-bottom-width: 0.15vh;
    color: black;
    font-family: Candara;
    font-size: 2.7vh;
    height: 7%;
  }
  .fixado {
    width: 100%;
    position: fixed;
    top: 0;
  }
  .CloseForm {
    margin-left: 28%;
    transition: 0.1s;
    position: absolute;
  }
  .subtitulo {
    font-size: 3vh;
    color: black;
    margin-left: 8.5%;
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .Form-invalid {
    animation: invalidform 300ms linear;
    animation-iteration-count: 2;
    transition: 0.3s;
  }
  @keyframes invalidform {
    0%,
    100% {
      transform: translateX(0);
      overflow-x: auto;
    }
    40% {
      transform: translateX(-1%);
      overflow-x: hidden;
    }
    80% {
      transform: translateX(1%);
    }
  }
  label[for="titulo"] {
    font-size: 5vh;
    color: black;
    margin-left: 2%;
  }

  label[for="subtitulo"] {
    font-size: 3vh;
    color: black;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 2%;
  }

  .caixa {
    width: 80%;
    margin-left: 8.5%;
    margin-top: 1%;
    margin-bottom: 4%;
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #86888d;
    border-bottom-width: 0.15vh;
    color: black;
    font-family: Candara;
    font-size: 2.7vh;
    height: 4%;
  }

  .caixa::placeholder {
    color: #86888d;
  }

  .opcsele {
    color: #000;
  }

  .botao {
    margin-top: 20%;
    margin-left: 15%;
    background: linear-gradient(to right, #ef0afd, #08d2df);
    opacity: 0.8;
    height: 8vh;
    width: 70%;
    border: 0.3vh solid whitesmoke;
    font-size: 3vh;
    border-radius: 10vh;
    color: whitesmoke;
  }

  .button {
    margin-top: 1%;
    margin-left: 15%;
    background: linear-gradient(to right, #ef0afd, #08d2df);
    opacity: 0.8;
    height: 8vh;
    width: 70%;
    border: 0.3vh solid whitesmoke;
    font-size: 3vh;
    border-radius: 10vh;
    color: whitesmoke;
  }
  .button:hover {
    background: linear-gradient(to right, #08d2df, #ef0afd);
    opacity: 1;
    transition: 0.5s;
  }

  .botao:hover {
    background-color: #e84118;
  }
}
#Focorrencia {
  .painel {
    height: 50%;
  }
  .caixa {
    height: 7%;
    margin-top: 2%;
  }
  textarea {
    height: 26%;
  }
  .title_register{
    margin-top: 2%;
  }
}
