<!DOCTYPE html>
<html lang="Pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../Resources/css/resp-profile.css" />
    <title>Cadastro</title>
</head>

<body class="corpo">
    <header id="header">
    <!-- Aqui ficaria o menu-->
    </header>
    <main class="Content">
<label class="subtitulo">
                            Unidade do Aluno
                            <select class="caixa" id="input-text" type="text" value="" name="unidade"> 
                                <option  value="1">SESI</option>
                                <option  value="2">SENAI</option>
                            </select>
                           
                    </label>
                    <label class="subtitulo">Nome </label><input class="caixa"  name="nomeAluno" id="input-text" type="text" value="" placeholder="Digite o Nome do Aluno" required autofocus/>
					<label class="subtitulo" for="sobrenome">Sobrenome</label><input class="caixa" type="text" name="sobrenomeAluno" placeholder="Digite o sobrenome do  aluno" required/>
                    <label class="subtitulo">
                            Data de Nascimento
                            <input class="caixa" id="input-text" type="date" value=""  required name="datanasc"/>
                    </label>
                    <label class="subtitulo">
                            CPF do Aluno</label>
                            <input class="caixa" name="cpf" id="input-text" type="text" value="" placeholder="Digite o CPF do Aluno" required onkeydown="javascript: fMasc( this, mCPF )" maxlength="14";/>
                            
                    <label class="subtitulo">
    </main>
    <footer>
</body>

</html>